html {
  scroll-behavior: smooth;
}
body {
  background: #141414;
	color: #ffffff;
}
.app-header {
  display: grid;
  grid-template-columns: 0.25fr 0.75fr;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main-title {
  font-size: 4rem;
}
.main-title, .movie-msg {
  margin-bottom: 0;
  margin-top: 0px;
  font-family: Roboto;
  color: #ffffff;
}
.favourite-movies-title {
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.movie-msg {
  margin-bottom: 5px;
  font-size: 24px;
  
}
.search-box {
  display: flex;
  align-items: center;
}
.search-field {
  display: block;
  width: 100%;
  padding: 10px 2px 10px 5px;
  border: solid 1px #ffffff;
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 1.5rem;
  background-color: transparent;
  color: #ffffff;
}
.search-field::placeholder {
  font-family: Roboto;
  font-size: 16px;
}
.search-field:focus {
  outline: none;
}
.wrapper {
  z-index: 1;
  overflow-x: scroll;
  scroll-behavior: smooth;
  min-height: 450px;
}
.movies-container {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: start;
  align-content: center;
  min-height: 400px;
  max-height: 420px;
  pointer-events: all;
 
}
.movie-container {
  position: relative;
  min-width: 200px;
  max-width: 200px;
  margin-right: 20px;
  transition: transform 0.2s ease-in-out;
}
.movie-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.movie-information__year {
  font-size: 1.15rem;
  font-weight: 300;
}
.movie-information__title {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}
.movie-container:hover {
  cursor: pointer;
  transform: scale(1.5) translateY(13%);
  transition: transform 0.2s ease-out;
  z-index: 1000;
}
.movie-container:last-child:hover {
  transform: scale(1.5) translate(-20%, 13%);
}
.movie-container:first-child:hover {
  transform: scale(1.5) translate(20%, 13%);
}

.movie-container:hover .overlay {
  opacity: 1;
  pointer-events: all;
}
.overlay {
  position: absolute;
  bottom: 20%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
  border: none;
  font-size: 14px;
  font-family: Roboto;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  cursor: pointer;
}
.overlay:focus {
  outline: none;
}

.remove-favourites {
  position: relative;
}
.icon, .remove-icon {
  position: relative;
  top: 5px;
}
.icon {
  font-size: 20px;
  top: 3px;
}
.movie-container:last-child {
  margin-right: 0;
}
.movie-poster {
  display: block;
  width: 100%;
  height: auto;
  min-height: 320px;

}
::-webkit-scrollbar {
  display: none;
}

.app-container > .movies-container {
	flex-wrap: nowrap;
}
.arrow {
  position: fixed;
  top: 23%;
  width: 80px;
  height: 120px;
  border: none;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
  pointer-events: all;

}
.arrow:hover {
  cursor: pointer;
}

.arrow:focus {
  outline: none;
}

.arrow::after, .arrow::before {
  position: absolute;
  content: "";
  display: block;
  width: 50px;
  height: 8px;
  background-color: #ffffff;
  transition: 0.2s ease-in-out box-shadow;
}
.arrow:hover::after, .arrow:hover::before {
  box-shadow: 5px 0px 10px 5px  #ffffff;
}
.arrow::after {
  bottom: 45px;
  left: 5px;
  transform: rotate(45deg);
}
.arrow::before {
  top: 37px;
  left: 5px;
  transform: rotate(-45deg);
}
.arrow-left {
  left: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.8) 100%);
}
.arrow-right {
  right: 0px;
}
.arrow-right::before {
  left: 25px;
  transform: rotate(45deg);

  transition: 0.2s ease-in-out box-shadow;
}
.arrow-right::after {
  left: 25px;
  transform: rotate(-45deg);
  transition: 0.2s ease-in-out box-shadow;
}
 .arrow-right:hover::before, .arrow-right:hover::after{
    box-shadow: -5px 0px 10px 5px  #ffffff;
} 

