body {
  background: #141414;
	color: #ffffff;
}
.movies-container {
  display: flex;
  justify-content: start;
  align-content: center;
  padding-top: 50px;
  border-top: solid 2px #000000;
}
.movie-container {
  min-width: 200px;
  margin-right: 20px;
}
.movie-container:last-child {
  margin-right: 0;
}
.movie-poster {
  display: block;
  width: 100%;
  height: auto;

}